@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

body {
    padding: 0;
    margin: 0;
    position: relative;
    background: linear-gradient(to right, #43ea91, #f96ae6);
    display: flex;
    justify-content: center;

}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 80%;
    flex-wrap: wrap
}

.box,
.match {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
    border: 1px solid transparent;
}

.box{
    margin-bottom: 10px;
}

.box:hover {
    transform: scale(1.3);
    transition: scale 0.9s;
    cursor: pointer;
    box-shadow: rgb(99, 97, 97) 3px 3px 5px;
    /* transition: box-shadow 0.2s; */
}

.main {
    height: 100vh;
    width: 70vw;
}

p {
    font-family: "Underdog", "Short Stack", cursive;
    font-size: 35px;
    font-style: oblique;
    font-weight: bolder;
    margin-bottom: 13px;
}

.score {
    font-size: 45px;
}

.match {
    margin-left: 5%;
}

@media screen and (min-width:2560px) {    

    .body {
        gap: 103px;
        height: 70%;
        background-color:rgb(99, 97, 97);
    }
    
    .box,
    .match {
        height: 130px;
        width: 130px;
        border-radius: 65px;
    }
       
    p {
        font-size: 75px;
        margin-bottom: 30px;
    }
    
    .score {
        font-size: 75px;
    }
    
    .match {
        margin-left: 5%;
    }
}

@media screen and (max-width: 769px) {
    .main {
        width: 100vw;
    }

    .match {
        margin-left: 5%;
    }

    .score {
        font-size: 45px;
        margin-left: 3%;
    }

    p {
        margin-left: 3%;
    }

}